.mdl-color--indigo-300{
  background-color: #E51CCE;
}

.mdl-card {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:30px;
  height: 540px;
}

.demo-avatar {
    width: 60px;
    height: 60px;
    padding: 0px;
}

.message-pic{
  width:30px;
  height:30px;
  padding: 0px;
  margin:0px 10px 0px 0px;
}

.mdl-card__title-text{
  font-family: 'OCR A std', sans-serif;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 10px;
  height: 400px;
  overflow: auto;
}
ul li {
    font-family: sans-serif;
    font-size: 120%;
    font-weight: 300;
    margin-bottom: 10px;
    line-height: 24px;
}
ul li:last-child {
    margin: 0px;
}
ul .example-chat-username {
    margin-right: 10px;
}
.mdl-grid{
  margin: 0px;
  height:auto;
}
.mine{
  text-align: right;
}
.imginfo-color{
  height:20px;
  margin: 0px;
  padding: 0px;
}

@media screen and (max-width: 1340px) {
  .mdl-card {
    margin-top: 60px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom:30px;
    width: 35%;
    height: 525px;
  }
}

@media screen and (max-width: 916px){
  .mdl-card {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:30px;
    width: 55%;
    height: 550px;
  }
}
